# code: language=yaml
#
# Output XR status
#

{{- $xr := getCompositeResource . }}
---
apiVersion: {{ $xr.apiVersion }}
kind: {{ $xr.kind }}
status:
  ready: {{ $state.status.ready }}
  capsule:
    ready: {{ $state.status.capsule.ready }}
    {{- if $state.capsule.proxy.enabled }}
    proxy:
      ready: {{ $state.status.capsule.proxy.ready }}
    {{- end }}
  {{- if $state.auth.enabled }}
  auth:
    ready: {{ $state.status.auth.ready }}
    oidcClientSecretRef:
      name: {{ $state.status.auth.oidcClientSecretRef.name }}
      namespace: {{ $state.status.auth.oidcClientSecretRef.namespace }}
  {{- end }}
  {{- if $state.aws.eksIdentityProvider.enabled }}
  aws:
    eksIdentityProvider:
      ready: {{ $state.status.aws.eksIdentityProvider.ready }}
      identityProviderConfigName: {{ $state.status.aws.eksIdentityProvider.identityProviderConfigName }}
  {{- end }}
